<!DOCTYPE f8component>

<definition> { id:"work_board", label:"Work Board",
	className:"WorkBoardServer", renderable:"true" } </definition>

<attributes>
	[
	{
	"type": "choice",
	"attributes": {
	"buckets": true,
	"none_option": true
	},
	"labels": {
	"label": "Bucket",
	"labelp": "Buckets"
	},
	"name": "bucket"
	},
	{
	"type": "choice",
	"attributes": {
	"slots": true,
	"bucket_slot": "bucket",
	"none_option": true
	},
	"labels": {
	"label": "Group by",
	"labelp": "Group bies"
	},
	"name": "group_by"
	},
	{
	"type": "condition",
	"attributes": {
	"bucket_slot": "bucket"
	},
	"labels": {
	"label": "Condition",
	"labelp": "Conditions"
	},
	"name": "condition"
	}
	]
</attributes>
<attributes_layout>
	{
	"version": 1,
	"layout": [
	{
	"type": "section",
	"colData": [
	{
	"column": 0
	}
	],
	"cols": [
	[
	{
	"type": "slot",
	"name": "bucket"
	},
	{
	"type": "slot",
	"name": "condition"
	},
	{
	"type": "slot",
	"name": "group_by"
	}
	]
	],
	"guid": "1j82z3",
	"columns": 1
	}
	],
	"pageData": {}
	}
</attributes_layout>
<attributes_display_rules>
	[]
</attributes_display_rules>

<style>

	body{font-family: "Lato"; margin:0; padding: 0;}
	#myKanban{overflow-x: auto; padding:20px 0;}

	.success{background: #00B961; color:#fff}
	.info{background: #2A92BF; color:#fff}
	.warning{background: #F4CE46; color:#fff}
	.error{background: #FB7D44; color:#fff}

</style>

<script>
	exports.component = ComponentUI.create({
		onRender : function(container, data, attributes) {
			console.log(JSON.stringify(data));
			var w = container.width();
			var h = container.height() || 400;
			this.id = 'uniqueWorkBoardID' + Client.guid();
			var primaryDiv = $('<div style="overflow-x: auto; padding:20px 0;" id="' + this.id + '"></div>');

			container.append(primaryDiv);



			var WorkBoard = new jKanban({
				element: '#' + this.id,
				gutter: '10px',

				click: function (el) {
					console.log("Trigger on all items click!");
				},
				dropEl: function (el, target, source, sibling) {
				    console.log('el: ' + JSON.stringify(el));
                    console.log('el.dataset: ' + JSON.stringify(el.dataset));

                    console.log('target: ' + JSON.stringify(target));
                    console.log('source: ' + JSON.stringify(source));
                    //console.log('sibling: ' + JSON.stringify(sibling));
					console.log('DROPPED: ' + el.dataset.eid);
					console.log('DROPPED 2: ' + $(el).data("eid"));
					console.log('TARGET: ' + $(target.parentElement).data("id"));
					console.log('SOURCE: ' + $(source.parentElement).data("id"));
					//console.log('SIBLING: ' + $(sibling.parentElement).data("id"));
					console.log('BOARD: ' + $(el.parentElement.parentElement).data("id"));

                    Server.rest('work_board/ajax/updateRecord', {
                            id: el.dataset.eid,
							bucket: attributes.bucket,
							groupBy: attributes.group_by,
                            newValue: $(target.parentElement).data("id")
                        }, {
                            callback: $.proxy(this.modificationDone, this)
                        }
                    );
				},

                modificationDone: function(response) {
                    if (response.status == 'bad') {
                        Client.error("Unable to modify record");
                        return;
                    }

                    var returnObject = response.data.returnObject;

                    if (!returnObject) {
                        alert('No returnObject found');
                        return;
                    }

                    //this.reload();
                },

				buttonClick: function (el, boardId) {
					console.log(el);
					console.log(boardId);
					// create a form to enter element
					var formItem = document.createElement('form');
					formItem.setAttribute("class", "itemform");
					formItem.innerHTML = '<div class="form-group"><textarea class="form-control" rows="2" autofocus></textarea></div><div class="form-group"><button type="submit" class="btn btn-primary btn-xs pull-right">Submit</button><button type="button" id="CancelBtn" class="btn btn-default btn-xs pull-right">Cancel</button></div>'
					WorkBoard.addForm(boardId, formItem);
					formItem.addEventListener("submit", function (e) {
						e.preventDefault();
						var text = e.target[0].value
                        WorkBoard.addElement(boardId, {
							"title": text,
						})
						formItem.parentNode.removeChild(formItem);
					});
					document.getElementById('CancelBtn').onclick = function () {
						formItem.parentNode.removeChild(formItem)
					}
				},


				dragBoards: true,
				boards: data.boards,


                addItemButton: true,
/*
                boards: [
                   {
                        "id": "_todo",
                        "title": "To Do",
                        "class": "info,good",
                        //"dragTo": ['_working'],
                        "item": [
                            {
                                "id": "_test_delete",
                                "title": "Try drag this (Look the console)",
                                "drag": function (el, source) {
                                    console.log("START DRAG: " + el.dataset.eid);
                                },
                                "dragend": function (el) {
                                    console.log("END DRAG: " + el.dataset.eid);
                                },
                                "drop": function(el, target, source, sibling){
                                    console.log('DROPPED: ' + el.dataset.eid );
                                    console.log(target);
                                    console.log('SOURCE: ' + source);
                                    console.log('SIBLING: ' + sibling);
                                }
                            },
                            {
                                "title": "Try Click This!",
                                "click": function (el) {
                                    alert("click");
                                },
                            }
                        ]
                    },
                    {
                        "id": "_working",
                        "title": "Working",
                        "class": "warning",
                        "item": [
                            {
                                "title": "Do Something!",
                            },
                            {
                                "title": "Run?",
                            }
                        ]
                    },
                    {
                        "id": "_done",
                        "title": "Done",
                        "class": "success",
                        "dragTo": ['_working'],
                        "item": [
                            {
                                "title": "All right",
                            },
                            {
                                "title": "Ok!",
                            }
                        ]
                    }
                ]
                */


			});
		},

		onUnloaded : function() {

		},

		className : "WorkBoardClient"
	});
</script>